<nav class="navbar navbar-dark bg-dark">
  <h1 class="navbar-text">
    <a routerLink="/">Movie App</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/sessions">Sessions</a>
    </li>
  </ul>
  <form [formGroup]="form" (ngSubmit)="submit()" class="search">
    <div class="form-control">
      <input type="text" placeholder="Search movie..."
             formControlName="search">
    </div>
    <button class="btn btn-outline-warning btn-sm "
            type="submit"
            [disabled]="form.invalid"
    >Search</button>
  </form>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


